@import 'tailwindcss';

/* colors */
@theme {
	--color-*: initial;
	--color-gray-50: oklch(98.5% 0.002 247.839);
	--color-gray-200: oklch(92.8% 0.006 264.531);
	--color-gray-400: oklch(70.7% 0.022 261.325);
	--color-gray-600: oklch(44.6% 0.03 256.802);
	--color-gray-800: oklch(27.8% 0.033 256.848);
	--color-gray-950: oklch(13% 0.028 261.692);
	--color-green-200: oklch(92.5% 0.084 155.995);
	--color-green-400: oklch(79.2% 0.209 151.711);
	--color-green-600: oklch(62.7% 0.194 149.214);
	--color-yellow-200: oklch(94.5% 0.129 101.54);
	--color-yellow-400: oklch(85.2% 0.199 91.936);
	--color-yellow-600: oklch(68.1% 0.162 75.834);
}
/* typography */
@theme {
	--font-*: initial;
	--font-roboto-mono: 'Roboto Mono', monospaced;
	--text-*: initial;
	--text-sm: 0.875rem; /*14px*/
	--text-sm--line-height: 1.4em;
	--text-base: 1rem; /*16px*/
	--text-base--line-height: 1.4em;
	--text-md: 1.125rem; /*18px*/
	--text-md--line-height: 1.4em;
	--text-lg: 1.25rem; /*20px*/
	--text-lg--line-height: 1.4em;
	--text-heading-sm: 1.75rem;
	--text-heading-sm--line-height: 1em;
	--text-heading-base: 2rem;
	--text-heading-base--line-height: 1em;
	--text-heading-md: 2.25rem;
	--text-heading-md--line-height: 1em;
	--text-heading-lg: 2.5rem;
	--text-heading-lg--line-height: 1em;
}

@font-face {
	font-family: 'Roboto Mono';
	src: url('/fonts/RobotoMonoVariable.ttf') format('ttf');
	font-weight: 100 700;
	font-style: normal;
}
